---
layout: home
title: My website
subtitle: This is where I will tell my friends way too much about me
---

<!DOCTYPE html>
<html>
	<body>

		{% for release in site.github.releases %}
			{% unless release.draft %}
				{% unless release.prerelease and page.release_only %}
						{% for asset in release.assets limit:1 %}
			
							<br>
							<div style="width:100%;">
								<div style="border: 1px solid gray; width:280px; border-radius: 5px; padding: 5px; padding-left: 12px; display: inline-block;" onclick="window.open('','mywindow');">

									<h2  style="margin: auto;padding-top: 7px;">SlimHUD  {{ release.tag_name | remove_first:'v' }}</h2>
								</div>

								<h4 style="color:gray;display: inline-block; padding-left:12px"><em>{{ release.published_at | date_to_rfc822 }}</em></h4>
							</div>



							<br><h1><strong>Releases Notes for v{{ release.tag_name | remove_first:'v' }}</strong><br/></h1>


						{% endfor %}

					<p>{{ release.body | markdownify }}</p>
					<h4><a href="{{ asset.browser_download_url }}">Download here</a></h4>
					<br>
					<hr class="rounded">

				{% endunless %}
			{% endunless %}
		{% endfor %}

	  </body>
</html>
